@use "bootstrap-5.3.5-dist.css";

// Compile by running `sass Scss/styles.scss Static/styles.css --style=compressed` from parent folder

// Common styles for light & dark theme
.refdocgen-text-primary {
    @extend .text-body-emphasis;
}

.refdocgen-link-primary {
    @extend .link-body-emphasis;
    @extend .refdocgen-link;
}

.refdocgen-link {
    @extend .link-offset-2;
    @extend .link-underline-opacity-0;
    @extend .link-underline-opacity-75-hover;
}

// Light theme styles
[data-bs-theme="light"] {
    .refdocgen-text-secondary {
        @extend .text-secondary;
    }

    .refdocgen-text-tertiary {
        @extend .text-primary;
    }

    .refdocgen-text-green {
        @extend .text-success;
    }

    .refdocgen-link-secondary {
        @extend .link-secondary;
        @extend .refdocgen-link;
    }

    .static-page-content {
        @extend .text-body-secondary;
    }

    #icon-moon {
        display: inline;
    }
}

// Dark theme styles
[data-bs-theme="dark"] {
    .refdocgen-text-secondary {
        @extend .text-warning-emphasis;
    }

    .refdocgen-text-tertiary {
        @extend .text-primary-emphasis;
    }

    .refdocgen-text-green {
        @extend .text-success-emphasis;
    }

    .refdocgen-link-secondary {
        @extend .link-warning;
        @extend .text-warning-emphasis;
        @extend .refdocgen-link;
    }

    .anchor-link {
        @extend .text-success-emphasis;
    }

    .static-page-content {
        @extend .text-body-secondary;
    }

    #icon-brightness {
        display: inline;
    }
}

// Menu
.top-menu {
    @extend .border-bottom;
    @extend .border-1;
}

.bottom-menu {
    @extend .border-top;
    @extend .border-1;
}

.menu-bg {
    @extend .bg-body-tertiary;
}

// Inner XML tags
.refdocgen-paragraph {
    @extend .my-2;
}

.refdocgen-table {
    @extend .table;
    @extend .w-auto;
}

.refdocgen-table-term {
    @extend .text-body-secondary;
    @extend .fw-bold;
}

.refdocgen-list-term {
    @extend .fw-bold;
}

.refdocgen-table-element {
    @extend .text-body-secondary;
}

.refdocgen-see-cref,
.refdocgen-see-href,
.refdocgen-seealso-cref,
.refdocgen-seealso-href,
.static-page-content a {
    @extend .link-offset-2;
    @extend .link-underline-opacity-50;
    @extend .link-underline-opacity-100-hover;
}

// Headings
.display-1 {
    font-size: 4rem !important;
}

.display-2 {
    font-size: 3.5rem !important;
}

.display-3 {
    font-size: 2.75rem !important;
}

.display-4 {
    font-size: 2rem !important;
}

.display-5 {
    font-size: 1.6rem !important;
}

.display-6 {
    font-size: 1.25rem !important;
}

html {
    scroll-padding-top: 60px;
    padding-bottom: 50px;
}

// Anchor link
.anchor-link {
    visibility: hidden;
    font-size: 1.25rem;
    @extend .link-underline-opacity-0;
    @extend .link-opacity-75;
    @extend .link-success;
}

h6:hover .anchor-link {
    visibility: visible;
}

// Version-related elements
#version-list,
#current-version,
#search-result-template,
#search-json-data {
    display: none;
}

#menu-search-bar {
    cursor: pointer;
}

.not-visible {
    display: none;
}

// Static pages content
.static-page-content {
    h1 {
        font-size: 2.5rem !important;
    }

    h2 {
        font-size: 1.75rem !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    h4 {
        font-size: 1.25rem !important;
    }

    h5 {
        font-size: 1.15rem !important;
    }

    h6 {
        font-size: 1.05rem !important;
    }

    h1, h2, h3, h4, h5, h6 {
        @extend .lead;
        @extend .refdocgen-text-primary;
    }

    blockquote {
        @extend .border-start;
        @extend .border-5;
        @extend .ps-3;
        @extend .bg-body-tertiary;
        @extend .fst-italic;

        div, p {
            @extend .py-2;
        }
    }
}

// code blocks
pre .refdocgen-code-block, .static-page-content pre code {
    @extend .px-4;
    @extend .mx-2;
    @extend .border;
    @extend .border-1;
}

pre:has(> .refdocgen-code-block) {
    @extend .my-3;
}
