@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Types
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<AttributeTM> Attributes { get; set; }
}

@foreach (var attr in Attributes)
{
    <div data-id="attribute-data" class="text-break">
        <samp>
            <AttributeDeclaration Attribute="@attr" />
        </samp>
    </div>
}

