@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Links
@inherits ComponentBase

@code {
    [Parameter]
    public required GenericTypeLinkTM BaseType { get; set; }
}

<!-- Base type name -->
@if (BaseType is not null)
{
    <div data-id="base-type">
        <i>Base type:&nbsp;</i>
        <samp class="refdocgen-text-secondary text-break">
            <GenericTypeLink Type="@BaseType" />
        </samp>
    </div>
}
