@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Types
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<TypeNameTM> NestedTypes { get; set; }

    [CascadingParameter]
    public required LanguageTM[] Languages { get; set; }
}

@if (NestedTypes.Any())
{
    <div class="my-3">
        <div class="lead">Nested types</div>
        <div class="mx-3" data-id="nested-types-section">
            @foreach (var nestedType in NestedTypes)
            {
                var nestedTypeUrl = $"./{nestedType.Id}.html";

                <div data-id="nested-type-data">
                    <samp data-id="nested-type-name" class="text-break">
                        <a href="@nestedTypeUrl" class="refdocgen-link-secondary">
                            <span class="refdocgen-text-tertiary">
                                @nestedType.TypeKindName
                            </span>
                            <span> </span>

                            <LanguageSpecificStrings Data="@nestedType.Name" />
                        </a>
                    </samp>
                    <div class="text-body-secondary fst-italic mb-2" data-id="summary-doc">
                        @if (nestedType.DocComment is not null)
                        {
                            @((MarkupString)nestedType.DocComment)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
