@inherits ComponentBase

@code {
    [Parameter]
    public required string DocComment { get; set; }
}

@if (DocComment.Length > 0)
{
    <div class="text-muted mt-2">
        <div class="lead">Value</div>
        <i>@DocComment</i>
    </div>
}
