@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Types
@inherits ComponentBase

@code {
    [Parameter]
    public required TypeNameTM Type { get; set; }

    [CascadingParameter]
    public required LanguageTM[] Languages { get; set; }
}

@{
    var typeUrl = $"./{Type.Id}.html";
}

<div class="row align-items-center mx-2" data-id="type-row-element">
    <div class="col-md-6" data-id="type-row-name">
        <samp>
            <a href="@typeUrl" class="refdocgen-link-secondary">
                <span class="refdocgen-text-tertiary">
                    @Type.TypeKindName
                </span>
                <span> </span>

                <LanguageSpecificStrings Data="@Type.Name" />
            </a>
        </samp>
    </div>
    <div class="col-md-6 text-body-secondary fst-italic text-truncate" data-id="type-row-doc">
        @if (Type.DocComment is not null)
        {
            @((MarkupString)Type.DocComment)
        }
    </div>
</div>
<hr class="my-2" />
