# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{cs,cshtml,razor}]
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_analyzer_diagnostic.category-CodeQuality.severity = warning

# Use var for non-built in types
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true

# custom rules
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_top_level_statements = false
csharp_style_prefer_primary_constructors = false

# Symbol specifications
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = *

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum, delegate
dotnet_naming_symbols.types.applicable_accessibilities = *

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method, namespace
dotnet_naming_symbols.non_field_members.applicable_accessibilities = *

dotnet_naming_symbols.scoped_variables.applicable_kinds = local, parameter
dotnet_naming_symbols.scoped_variables.applicable_accessibilities = *

dotnet_naming_symbols.restricted_access_fields.applicable_kinds = field
dotnet_naming_symbols.restricted_access_fields.applicable_accessibilities = private, protected

# Naming rules
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i
dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion

dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion

dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion

dotnet_naming_rule.scoped_variables_should_be_camel_case.symbols = scoped_variables
dotnet_naming_rule.scoped_variables_should_be_camel_case.style = camel_case
dotnet_naming_rule.scoped_variables_should_be_camel_case.severity = suggestion

dotnet_naming_rule.restricted_access_fields_should_be_camel_case.symbols = restricted_access_fields
dotnet_naming_rule.restricted_access_fields_should_be_camel_case.style = camel_case
dotnet_naming_rule.restricted_access_fields_should_be_camel_case.severity = suggestion

# Naming styles
dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.camel_case.capitalization = camel_case

# Customized rules
dotnet_code_quality.CA1716.analyzed_symbol_kinds = NamedType, Method, Property, Event, Parameter # exclude Namespace https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1716
dotnet_style_prefer_conditional_expression_over_return = false

# Suppressed rules
dotnet_diagnostic.IDE0072.severity = none # https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0072
dotnet_diagnostic.CA1822.severity = none # https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1822
dotnet_diagnostic.CA1852.severity = none # https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1852
dotnet_diagnostic.IDE0046.severity = none # https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0046
