@inherits ComponentBase

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><samp><a class="search-result-title-link refdocgen-link" href=""></a></samp></h5>
        <p class="card-text">
            <i class="text-body-secondary search-result-body"></i>
        </p>
    </div>
</div>
