@inherits ComponentBase
@using RefDocGen.TemplateGenerators.Default.Templates.Components.LanguageSpecific.CSharp.Utils
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Types

@code {
    [Parameter]
    public required AttributeTM Attribute { get; set; }
}


[<CodeLink Type="@Attribute.Type" />

@if (Attribute.ConstructorArguments.Any() || Attribute.NamedArguments.Any())
{
    <span>(</span>
    @foreach (var ctorArg in Attribute.ConstructorArguments)
    {
        @if (ctorArg is not null)
        {
            <span class="refdocgen-text-green">@ctorArg.CSharpData</span>
            @if (ctorArg != Attribute.ConstructorArguments.Last())
            {
                <span>, </span>
            }
        }
    }

    @if (Attribute.ConstructorArguments.Any() && Attribute.NamedArguments.Any())
    {
        <span>, </span>
    }

    @foreach (var namedArg in Attribute.NamedArguments)
    {
        <CodeLink Type="@namedArg.Name" />
        <LiteralValueSuffix Value="@namedArg.Value" />

        @if (namedArg != Attribute.NamedArguments.Last())
        {
            <span>, </span>
        }
    }
    <span>)</span>
}
<span>]</span>
