@inherits ComponentBase
@using RefDocGen.TemplateProcessors.Default.Templates.Components.LanguageSpecific.CSharp.Utils
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members

@code {
    [Parameter]
    public required FieldTM Field { get; set; }
}


<span class="refdocgen-text-tertiary">
    @string.Join(' ', Field.Modifiers.CSharpData)
</span>

<GenericTypeLink Type="@Field.Type" />

<span class="refdocgen-text-primary">
    @Field.Name
</span>

<LiteralValueSuffix Value="@Field.ConstantValue" />

