@inherits ComponentBase
@using RefDocGen.TemplateGenerators.Default.Templates.Components.LanguageSpecific.CSharp.Utils
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members

@code {
    [Parameter]
    public required MethodTM Method { get; set; }
}

@{
    string methodName = Method.ExplicitInterfaceType is not null
            ? Method.ExplicitInterfaceType.Name.CSharpData + "." + Method.Name
            : Method.Name;
}

<span class="refdocgen-text-tertiary">
    @string.Join(' ', Method.Modifiers.CSharpData)
</span>

<GenericTypeLink Type="@Method.ReturnType" />

<span class="refdocgen-text-primary">
    @methodName
</span><TypeParametersString TypeParameters="@Method.TypeParameters" /><ParametersString Parameters="@Method.Parameters" />
