@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required EventTM Event { get; set; }
}

@{
    string eventName = Event.ExplicitInterfaceType is not null
            ? Event.ExplicitInterfaceType.Name.CSharpData + "." + Event.Name
            : Event.Name;
}

<span class="refdocgen-text-tertiary">
    @string.Join(' ', Event.Modifiers.CSharpData)
</span>

<GenericTypeLink Type="@Event.Type" />

<span class="refdocgen-text-primary">
    @eventName
</span>

