@inherits ComponentBase

@code {
    [Parameter]
    public required string[] Modifiers { get; set; }

    [Parameter]
    public required string TypeName { get; set; }

    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; } = [];
}

<h1 class="display-4" data-id="type-name-title">
    <samp>
        <span class="refdocgen-text-tertiary">@string.Join(' ', Modifiers)</span>
        <span class="refdocgen-text-primary">@TypeName</span><TypeParametersString TypeParameters="TypeParameters" />
    </samp>
</h1>
