@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<string> Modifiers { get; set; }

    [Parameter]
    public required string TypeKindName { get; set; }

    [Parameter]
    public required string TypeName { get; set; }

    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; } = [];
}

<h1 class="display-4" >
    <samp data-id="type-name-title">
        <span class="text-primary">@string.Join(' ', Modifiers) @TypeKindName</span>
        <span class="text-dark">@TypeName</span><TypeParametersString TypeParameters="TypeParameters" />
    </samp>
</h1>
