@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

@if (TypeParameters.Any())
{
    <span>&lt;</span>

    @foreach (var p in TypeParameters)
    {
        @if (p.Modifiers.Any())
        {
            <span class="refdocgen-text-tertiary">
                @string.Join(' ', p.Modifiers)
            </span>
            <span> </span>
        }
        <span class="refdocgen-text-secondary">
            @p.Name
        </span>

        @if (p != TypeParameters[^1])
        {
            <span>, </span>
        }
    }

    <span>&gt;</span>
}
