@inherits ComponentBase

@code {
    [Parameter]
    public required TypeNameTM Type { get; set; }

    [CascadingParameter]
    public required LanguageTM[] Languages { get; set; }
}

@{
    var typeUrl = $"./{Type.Id}.html";
}

<tr data-id="type-row-element">
    <td class="w-50" data-id="type-row-name">
        <samp>
            <a href="@typeUrl" class="refdocgen-link-secondary">
                <span class="refdocgen-text-tertiary">
                    @Type.TypeKindName
                </span>
                <span> </span>

                <LanguageSpecificStrings Data="@Type.Name" />
            </a>
        </samp>
    </td>
    <td class="text-body-secondary" data-id="type-row-doc">
        <i>@Type.DocComment</i>
    </td>
</tr>
