@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Types
@inherits ComponentBase

@code {
    [Parameter]
    public required ITypeDeclarationNameTM Type { get; set; }
}

<h1 class="display-4" data-id="type-declaration">
    <samp>
        <TypeDeclaration Type="@Type" />
    </samp>
</h1>
