@using RefDocGen.TemplateGenerators.Default.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}


@if (Parameters.Any())
{
    var lastParam = Parameters.Last();

    foreach (var p in Parameters)
    {
        <ParameterName Parameter="@p" />

        <LiteralValueSuffix Value="@p.DefaultValue" />

        if (p != lastParam)
        {
            <span class="text-dark">, </span>
        }
    }
}
