@using RefDocGen.TemplateGenerators.Default.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}

<span class="text-dark">(</span>

@if (Parameters.Any())
{
    var lastParam = Parameters.Last();

    foreach (var p in Parameters)
    {
        @if (p.Modifiers.Any())
        {
            <span class="text-primary">
                @string.Join(' ', p.Modifiers)
            </span>
        }

        <span> </span>
        <TypeLink Type="@p.Type" />
        <span> </span>

        <span class="text-dark">
            @p.Name
        </span>

        <LiteralValueSuffix Value="@p.DefaultValue" />

        if (p != lastParam)
        {
            <span class="text-dark">, </span>
        }
    }
}

<span class="text-dark">)</span>
