@using RefDocGen.TemplateGenerators.Default.TemplateModels.Types
@inherits ComponentBase

@code {
    [Parameter]
    public required TypeReferenceTM Type { get; set; }
}

@if (Type.Url is not null)
{
    <span class="text-secondary">
        <a href="@Type.Url" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
            @Type.TypeName
        </a>
    </span>
}
else
{
    <span class="text-secondary">
        @Type.TypeName
    </span>
}
