@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ExceptionTM> Exceptions { get; set; }
}

@if (Exceptions.Any())
{
    <h3 class="lead mt-3">Exceptions</h3>
    <div class="mx-2" data-id="exception-section">
        @foreach (var exception in Exceptions)
        {
            <div data-id="exception-data">
                <samp data-id="exception-type">
                    <TypeLink Type="@exception.Type" />
                </samp>

                <div class="text-body-secondary fst-italic mb-2" data-id="exception-doc">
                    @if (exception.DocComment is not null)
                    {
                        @((MarkupString)exception.DocComment)
                    }
                </div>
            </div>
        }
    </div>
}
