@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}

@if (Parameters.Any())
{
    <h3 class="lead my-2">Parameters</h3>
    <div class="mx-2" data-id="parameters-section">
        @foreach (var parameter in Parameters)
        {
            <div data-id="parameter-data">
                <AttributeList Attributes="@parameter.Attributes" />

                <div data-id="parameter-name">
                    <samp>
                        <ParameterName Parameter="@parameter" />
                    </samp>
                </div>

                <div class="text-body-secondary mb-2" data-id="parameter-doc">
                    @if (parameter.DocComment is not null)
                    {
                        <i>@((MarkupString)parameter.DocComment)</i>
                    }
                </div>
            </div>
        }
    </div>
}
