@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="mt-3" data-id="remarks-section">
        <div class="lead">Remarks</div>
        <div class="text-muted" data-id="remarks-doc">
            <i>@((MarkupString)DocComment)</i>
        </div>
    </div>
}
