@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<string> DocComments { get; set; }
}

@if (DocComments.Any())
{
    <div class="mt-3">
        <div class="lead">See also</div>

        @foreach (var comment in DocComments)
        {
            <div class="text-muted">
                <i>
                    @((MarkupString)comment)
                </i>
            </div>
        }
    </div>
}
