@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="text-body-secondary mb-0" data-id="summary-doc">
        <i>
            @((MarkupString)DocComment)
        </i>
    </div>
}
