@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

@if (TypeParameters.Any())
{
    <h3 class="lead my-2">Type parameters</h3>
    <div class="mx-2" data-id="type-parameters-section">
        @foreach (var typeParam in TypeParameters)
        {
            <div data-id="type-parameter-data">
                <samp data-id="type-parameter-name">
                    <TypeParameterName TypeParameter="@typeParam" />
                </samp>
                <div class="text-body-secondary fst-italic mb-2" data-id="type-parameter-doc">
                    @if (typeParam.DocComment is not null)
                    {
                        @((MarkupString)typeParam.DocComment)
                    }
                </div>
            </div>
        }
    </div>
}
