@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

@if (TypeParameters.Any())
{
    <h3 class="lead my-2">Type parameters</h3>
    <div class="mx-2" data-id="type-parameters-section">
        @foreach (var typeParam in TypeParameters)
        {
            <div data-id="type-parameter-data">
                <samp data-id="type-parameter-name">
                    <span class="refdocgen-text-tertiary">
                        @string.Join(' ', typeParam.Modifiers)
                    </span>
                    <span class="refdocgen-text-secondary">
                        @typeParam.Name
                    </span>
                </samp>
                <div class="text-body-secondary mb-2" data-id="type-parameter-doc">
                    @if (typeParam.DocComment is not null)
                    {
                        <i>@((MarkupString)typeParam.DocComment)</i>
                    }
                </div>
            </div>
        }
    </div>
}
