@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

@if (TypeParameters.Any())
{
    <h3 class="lead my-2">Type parameters</h3>
    <div class="mx-2">
        @foreach (var typeParam in TypeParameters)
        {
            <samp>
                <span class="text-primary">
                    @string.Join(' ', typeParam.Modifiers)
                </span>
                <span class="text-secondary">
                    @typeParam.Name
                </span>
            </samp>
            <div class="text-muted mb-2">
                @if (typeParam.DocComment is not null)
                {
                    <i>@((MarkupString)typeParam.DocComment)</i>
                }
            </div>
        }
    </div>
}
