@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="text-muted mt-2">
        <div class="lead">Value</div>
        <i>@((MarkupString)DocComment)</i>
    </div>
}
