@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="mt-2">
        <div class="lead">Value</div>
        <div data-id="value-doc" class=" text-body-secondary">
            <i>@((MarkupString)DocComment)</i>
        </div>
    </div>
}
