@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}

@if (Parameters.Any())
{
    <h3 class="lead my-2">Parameters</h3>
    <div class="mx-2" data-id="parameters-section">
        @foreach (var parameter in Parameters)
        {
            <div data-id="parameter-data">
                <AttributeList Attributes="@parameter.Attributes" />

                <div data-id="parameter-declaration" class="text-break">
                    <samp>
                        <ParameterDeclaration Parameter="@parameter" />
                    </samp>
                </div>

                <div class="text-body-secondary fst-italic mb-2" data-id="parameter-doc">
                    @if (parameter.DocComment is not null)
                    {
                        @((MarkupString)parameter.DocComment)
                    }
                </div>
            </div>
        }
    </div>
}
