@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}

@if (Parameters.Any())
{
    <div class="mt-3">
        <div class="lead">Parameters</div>
        <div class="mx-3" data-id="parameters-section">
            @foreach (var parameter in Parameters)
            {
                <div data-id="parameter-data">
                    <AttributeList Attributes="@parameter.Attributes" />

                    <div data-id="parameter-declaration" class="text-break">
                        <samp>
                            <ParameterDeclaration Parameter="@parameter" />
                        </samp>
                    </div>

                    <div class="text-body-secondary fst-italic mb-2" data-id="parameter-doc">
                        @if (parameter.DocComment is not null)
                        {
                            @((MarkupString)parameter.DocComment)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
