@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="my-3" data-id="remarks-section">
        <div class="lead">Remarks</div>
        <div class="text-body-secondary fst-italic" data-id="remarks-doc">
            @((MarkupString)DocComment)
        </div>
    </div>
}
