@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Links
@inherits ComponentBase

@code {

    [Parameter]
    public required GenericTypeLinkTM Type { get; set; }

    [Parameter]
    public required string? DocComment { get; set; }
}

<div class="my-3">
    <div class="lead">Returns</div>
    <div class="mx-3" data-id="returns-section">
        <samp data-id="return-type-name">
            <GenericTypeLink Type="@Type" />
        </samp>
        <div class="text-body-secondary fst-italic" data-id="returns-doc">
            @if (DocComment is not null)
            {
                @((MarkupString)DocComment)
            }
        </div>
    </div>
</div>
