@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<string> DocComments { get; set; }
}

@if (DocComments.Any())
{
    <div class="my-3" data-id="seealso-section">
        <div class="lead">See also</div>

        @foreach (var comment in DocComments)
        {
            <div class="text-body-secondary fst-italic" data-id="seealso-item">
                    @((MarkupString)comment)
            </div>
        }
    </div>
}
