@inherits ComponentBase

@code {
    [Parameter]
    public required string? DocComment { get; set; }
}

@if (DocComment is not null)
{
    <div class="my-3">
        <div class="lead">Value</div>
        <div data-id="value-doc" class="fst-italic text-body-secondary">
            @((MarkupString)DocComment)
        </div>
    </div>
}
