@using RefDocGen.TemplateGenerators.Shared.Languages
@using RefDocGen.TemplateGenerators.Shared.TemplateModels
@inherits ComponentBase

@code {
    [Parameter]
    public required LanguageSpecificData<string>? Value { get; set; }
}

@if (Value is not null)
{
    <span> = </span>
    <span class="refdocgen-text-green">@Value.CSharpData</span>
}
