@inherits ComponentBase

@code {
    [Parameter]
    public required AttributeTM Attribute { get; set; }
}

<span class="csharp-lang">
    <CSharpAttributeName Attribute="@Attribute" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
