@inherits ComponentBase

@code {
    [Parameter]
    public required ConstructorTM Constructor { get; set; }

}

<span class="csharp-lang">
    <CSharpConstructorName Constructor="@Constructor" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
