@inherits ComponentBase

@code {
    [Parameter]
    public required ConstructorTM Constructor { get; set; }

    [Parameter]
    public required string TypeName { get; set; }
}

<span class="csharp-lang">
    <CSharpConstructorName Constructor="@Constructor" TypeName="@TypeName" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
