@inherits ComponentBase

@code {
    [Parameter]
    public required DelegateTypeTM Delegate { get; set; }
}

<span class="csharp-lang">
    <CSharpDelegateMethodName Delegate="@Delegate" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
