@inherits ComponentBase

@code {
    [Parameter]
    public required EnumMemberTM EnumMember { get; set; }
}

<span class="csharp-lang">
    <CSharpEnumMemberName EnumMember="@EnumMember" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
