@inherits ComponentBase

@code {
    [Parameter]
    public required EventTM Event { get; set; }
}

<span class="csharp-lang">
    <CSharpEventName Event="@Event" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
