@inherits ComponentBase

@code {
    [Parameter]
    public required FieldTM Field { get; set; }
}

<span class="csharp-lang">
    <CSharpFieldName Field="@Field" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
