@inherits ComponentBase

@code {

    [Parameter]
    public required Dictionary<string, object> Parameters { get; set; }

    [Parameter]
    public required LanguageComponentType Type { get; set; }

    string[] languages = ["csharp-lang", "other-lang"];

    Dictionary<string, Type> components = new()
        {
            ["csharp-lang"] = typeof(CSharpAttributeName),
            ["other-lang"] = typeof(TodoAttributeName),
        };
}

@foreach (var lang in languages)
{
    <span class="@lang">
        <DynamicComponent Type="@components[lang]" Parameters="@Parameters" />
    </span>
}
