@inherits ComponentBase

@code {
    [Parameter]
    public required MethodTM Method { get; set; }
}

<span class="csharp-lang">
    <CSharpMethodName Method="@Method" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
