@inherits ComponentBase

@code {
    [Parameter]
    public required ParameterTM Parameter { get; set; }
}

<span class="csharp-lang">
    <CSharpParameterName Parameter="@Parameter" />
</span><span class="other-lang">
    <TodoComponent />
</span>
