@inherits ComponentBase

@code {
    [Parameter]
    public required PropertyTM Property { get; set; }
}

<span class="csharp-lang">
    <CSharpPropertyName Property="@Property" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
