@inherits ComponentBase

@code {
    [Parameter]
    public required LocalizedData<string[]> Modifiers { get; set; }

    [Parameter]
    public required string TypeName { get; set; }

    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

<span class="csharp-lang">
    <CSharpTypeDeclName TypeName="@TypeName" TypeParameters="@TypeParameters" Modifiers="@Modifiers" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
