@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

<div class="csharp-lang">
    <CSharpTypeParametersConstraintsSection TypeParameters="@TypeParameters" />
</div>
<div class="other-lang">
    <!-- Leave empty if the constraint are displayed next to type parameter name (such as in F#) -->
    <TodoComponent />
</div>
