@inherits ComponentBase

@code {
    [Parameter]
    public required LocalizedData<string[]> Modifiers { get; set; }

    [Parameter]
    public required string TypeName { get; set; }

    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

<span class="csharp-lang">
    <span class="refdocgen-text-tertiary">@string.Join(' ', Modifiers[Language.CSharp])</span>
    <span class="refdocgen-text-primary">@TypeName</span><TypeParametersString TypeParameters="TypeParameters" />
</span>
<span class="other-lang">
    <TodoComponent />
</span>
