.display-1 {
    font-size: 4rem !important;
}

.display-2 {
    font-size: 3.5rem !important;
}

.display-3 {
    font-size: 3rem !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.display-5 {
    font-size: 2rem !important;
}

.display-6 {
    font-size: 1.5rem !important;
}

html {
    scroll-padding-top: 60px;
}

/* Style the anchor link */
.anchor-link {
    visibility: hidden;
    font-size: 1.25rem;
}

/* Reveal the anchor link on hover */
h6:hover .anchor-link {
    visibility: visible;
}

#version-list {
    display: none;
}
