@use "bootstrap-5.3.5-dist.css";

// Compile by running `sass Scss/styles.scss Static/styles.css --style=compressed` from parent folder

// Common styles for light & dark theme
.refdocgen-text-primary {
    @extend .text-body-emphasis;
}

.refdocgen-link-primary {
    @extend .link-body-emphasis;
    @extend .refdocgen-link;
}

.refdocgen-link {
    @extend .link-offset-2;
    @extend .link-underline-opacity-0;
    @extend .link-underline-opacity-75-hover;
}

// Light theme styles
[data-bs-theme="light"] {
    .refdocgen-text-secondary {
        @extend .text-secondary;
    }

    .refdocgen-text-tertiary {
        @extend .text-primary;
    }

    .refdocgen-text-green {
        @extend .text-success;
    }

    .refdocgen-link-secondary {
        @extend .link-secondary;
        @extend .refdocgen-link;
    }

    .menu-bg {
        @extend .bg-body-secondary;
    }
}

// Dark theme styles
[data-bs-theme="dark"] {
    .refdocgen-text-secondary {
        @extend .text-warning-emphasis;
    }

    .refdocgen-text-tertiary {
        @extend .text-primary-emphasis;
    }

    .refdocgen-text-green {
        @extend .text-success-emphasis;
    }

    .refdocgen-link-secondary {
        @extend .link-warning;
        @extend .text-warning-emphasis;
        @extend .refdocgen-link;
    }

    .menu-bg {
        @extend .bg-body-tertiary;
    }

    .anchor-link {
        @extend .text-success-emphasis;
    }
}

// Inner XML tags
.refdocgen-paragraph {
    @extend .my-2;
}

.refdocgen-table {
    @extend .table;
    @extend .w-auto;
}

.refdocgen-table-term {
    @extend .text-body-secondary;
    @extend .fw-bold;
}

.refdocgen-list-term {
    @extend .fw-bold;
}

.refdocgen-table-element {
    @extend .text-body-secondary;
}

.refdocgen-see-cref,
.refdocgen-see-href,
.refdocgen-seealso-cref,
.refdocgen-seealso-href {
    @extend .link-offset-2;
    @extend .link-underline-opacity-50;
    @extend .link-underline-opacity-100-hover;
}

// Headings
.display-1 {
    font-size: 4rem !important;
}

.display-2 {
    font-size: 3.5rem !important;
}

.display-3 {
    font-size: 3rem !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.display-5 {
    font-size: 2rem !important;
}

.display-6 {
    font-size: 1.5rem !important;
}

html {
    scroll-padding-top: 60px;
    padding-bottom: 50px;
}

// Anchor link
.anchor-link {
    visibility: hidden;
    font-size: 1.25rem;
    @extend .link-underline-opacity-0;
    @extend .link-opacity-75;
    @extend .link-success;
}

h6:hover .anchor-link {
    visibility: visible;
}

// Version-related elements
#version-list,
#current-version,
#search-result-template,
#search-json-data {
    display: none;
}

#menu-search-bar {
    cursor: pointer;
}
