@inherits ComponentBase

@code {
    [Parameter]
    public required bool HasGetter { get; set; }

    [Parameter]
    public required string[] GetterModifiers { get; set; }

    [Parameter]
    public required bool HasSetter { get; set; }

    [Parameter]
    public required bool IsSetterInitOnly { get; set; }

    [Parameter]
    public required string[] SetterModifiers { get; set; }
}

<span> { </span>

@{
    var getterWithModifiers = HasGetter
        ? $"{string.Join(' ', GetterModifiers)} get"
        : string.Empty;

    var setterName = IsSetterInitOnly
        ? "init"
        : "set";

    var setterWithModifiers = HasSetter
        ? $"{string.Join(' ', SetterModifiers)} {setterName}"
        : string.Empty;
}

@if (HasGetter)
{
    <span class="refdocgen-text-tertiary">
        @getterWithModifiers<span class="text-body">; </span>
    </span>
}
@if (HasSetter)
{
    <span class="refdocgen-text-tertiary">
        @setterWithModifiers<span class="text-body">; </span>
    </span>
}

<span> }</span>
