@inherits ComponentBase

@code {
    [Parameter]
    public required TypeLinkTM DeclaringType { get; set; }
}

@if (DeclaringType is not null)
{
    <div data-id="declaring-type">
        <i>Declaring type:&nbsp;</i>
        <samp class="text-secondary">
            <TypeLink Type="@DeclaringType" />
        </samp>
    </div>
}
