@inherits ComponentBase

@code {
    [Parameter]
    public required TypeLinkTM? Interface { get; set; }
}

@if (Interface is not null)
{
    <div class="text-primary ms-4 mb-2" data-id="member-explicitly-implements">
        <i>
            Explicitly implements
            <TypeLink Type="@Interface" />
        </i>
    </div>
}
