@inherits ComponentBase

@code {
    [Parameter]
    public required TypeLinkTM? OriginalType { get; set; }
}

@if (OriginalType is not null)
{
    <div class="text-primary ms-4 mb-2" data-id="member-inherited-from">
        <i>
            Inherited from
            <TypeLink Type="@OriginalType" />
        </i>
    </div>
}
