@inherits ComponentBase

@code {
    [Parameter]
    public required CodeLinkTM? Interface { get; set; }
}

@if (Interface is not null)
{
    <div class="refdocgen-text-tertiary fst-italic ms-4 mb-2" data-id="member-explicitly-implements">
            Explicitly implements
            <TypeLink Type="@Interface" />
    </div>
}
