@inherits ComponentBase

@code {
    [CascadingParameter] public string[] Pages { get; set; } = [];
}


<CascadingValue Value="Pages">
    <nav class="navbar navbar-expand-lg sticky-top bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Project name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                @foreach (var pageName in Pages)
                {
                    string pageHtml = $"./{pageName}.html";

                    <div class="navbar-nav">
                        <a class="nav-link" href="@pageHtml">@pageName</a>
                    </div>
                }
            </div>
        </div>
    </nav>
</CascadingValue>
