@inherits ComponentBase

@code {
    [CascadingParameter] public MenuItemTM[] Pages { get; set; } = [];

    [CascadingParameter] public int NestingLevel { get; set; } = 0;
}


<CascadingValue Value="Pages">
    <nav class="navbar navbar-expand-lg sticky-top bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="./index.html">Project name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">

                    @foreach (var p in Pages)
                    {
                        var urlFragments = Enumerable.Repeat("..", NestingLevel).Append(p.Url).ToArray();
                        var pagePath = Path.Combine(urlFragments);

                        <li class="nav-item">
                            <a class="nav-link" href="@pagePath">@p.PageName</a>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tutorial
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./tutorial/1)-installation.html">1) Installation</a></li>
                            <li><a class="dropdown-item" href="./tutorial/2)-usage.html">2) Usage</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</CascadingValue>
