@inherits ComponentBase

@code {
    [Parameter]
    public required ParameterTM Parameter { get; set; }
}


@if (Parameter.Modifiers.Any())
{
    <span class="refdocgen-text-tertiary">
        @string.Join(' ', Parameter.Modifiers)
    </span>
    <span> </span>
}

<TypeLink Type="@Parameter.Type" />

<span>
    @Parameter.Name
</span>
