@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Links
@inherits ComponentBase

@code {
    [Parameter]
    public required CodeLinkTM[] Interfaces { get; set; }
}

@if (Interfaces.Any())
{
    @foreach (var iface in Interfaces)
    {
        <div class="refdocgen-text-tertiary fst-italic ms-4 text-break" data-id="member-implements">
                Implements
                <CodeLink Type="@iface" />
        </div>
    }
    <div class="mb-2" />
}
