@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Links
@inherits ComponentBase

@code {
    [Parameter]
    public required CodeLinkTM? BaseType { get; set; }
}

@if (BaseType is not null)
{
    <div class="refdocgen-text-tertiary fst-italic ms-4 mb-2 text-break" data-id="member-overrides">
            Overrides
            <CodeLink Type="@BaseType" />
    </div>
}
