@inherits ComponentBase

<!--
    Collapses/expands all elements with 'multi-collapse' class using the following rules:

    If all of these elements are expanded -> collapse all
    Otherwise (i.e., at least one element is collapsed) -> expand all
-->

<!-- double chevron icon, taken from https://icons.getbootstrap.com/icons/chevron-double-down/ -->
<button class="btn btn-sm" id="toggleAllBtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
    </svg>
</button>

<script>
    window.addEventListener('load', function(){
        const toggleBtn = document.getElementById('toggleAllBtn');
        const namespaces = Array.from(document.getElementsByClassName('multi-collapse'));

        toggleBtn.addEventListener('click', () => {
          const allShown = namespaces.every(ns => ns.classList.contains('show'));

          console.log(allShown);

          namespaces.forEach(el => {
            let instance = bootstrap.Collapse.getInstance(el);
            if (!instance) {
                // Ensure toggle: false to prevent auto-toggling on creation
                instance = new bootstrap.Collapse(el, { toggle: false });
            }

            if (allShown) {
              instance.hide(); // Collapse if all were shown
            } else {
              instance.show(); // Otherwise expand all
            }
          });
        });
    });
</script>
