@inherits ComponentBase

@code {
    [Parameter]
    public required AttributeTM Attribute { get; set; }
}

<span class="csharp-lang">
    [<TypeLink Type="@Attribute.Type" />

    @if (Attribute.ConstructorArguments.Any() || Attribute.NamedArguments.Any())
    {
        <span>(</span>
        @foreach (var ctorArg in Attribute.ConstructorArguments)
        {
            <span class="refdocgen-text-green">@ctorArg</span>
            @if (ctorArg != Attribute.ConstructorArguments.Last())
            {
                <span>, </span>
            }
        }

        @if (Attribute.ConstructorArguments.Any() && Attribute.NamedArguments.Any())
        {
            <span>, </span>
        }

        @foreach (var namedArg in Attribute.NamedArguments)
        {
            <TypeLink Type="@namedArg.Name" />
            <LiteralValueSuffix Value="@namedArg.Value" />
        }
        <span>)</span>
    }]
</span>
<span class="other-lang">
    <TodoComponent />
</span>
