@inherits ComponentBase
@using RefDocGen.TemplateGenerators.Default.Templates.Components.LanguageSpecific.CSharp.Utils

@code {
    [Parameter]
    public required ConstructorTM Constructor { get; set; }

    [Parameter]
    public required string TypeName { get; set; }
}

<span class="refdocgen-text-tertiary">
    @string.Join(' ', Constructor.Modifiers[Language.CSharp])
</span>
<span class="refdocgen-text-primary">
    @TypeName
</span>
<ParametersString Parameters="@Constructor.Parameters" />
