@inherits ComponentBase

@code {
    [Parameter]
    public required GenericTypeLinkTM Type { get; set; }
}

<span class="refdocgen-text-secondary">
    @if (Type.Url is not null)
    {
        <a href="@Type.Url" class="refdocgen-link-secondary">
            @Type.Name
        </a>
    }
    else
    {
        @Type.Name
    }
</span>
@if (Type.TypeParameters.Any())
{
    bool isFirst = true;

    <span class="text-body-secondary">&lt;</span>
    @foreach (var tp in Type.TypeParameters)
    {
        if (!isFirst)
        {
            <span class="text-body-secondary">, </span>
        }
        <CSharpGenericTypeLink Type="tp" />

        isFirst = false;
    }
    <span class="text-body-secondary">&gt;</span>
}
