@inherits ComponentBase
@using RefDocGen.TemplateGenerators.Default.Templates.Components.LanguageSpecific.CSharp.Utils

@code {
    [Parameter]
    public required IndexerTM Indexer { get; set; }
}


<span class="refdocgen-text-tertiary">
    @string.Join(' ', Indexer.Modifiers[Language.CSharp])
</span>

<TypeLink Type="@Indexer.Type" />

    @if (Indexer.Parameters.Any())
{
    var lastParam = Indexer.Parameters.Last();

    <span class="refdocgen-text-primary"> this</span>

    <ParametersString Parameters=Indexer.Parameters Prefix="[" Suffix="]" />

}

<AccessorMethods HasGetter="Indexer.HasGetter"
                 HasSetter="Indexer.HasSetter"
                 IsSetterInitOnly="@Indexer.IsSetterInitOnly"
                 GetterModifiers="Indexer.GetterModifiers[Language.CSharp]"
                 SetterModifiers="Indexer.SetterModifiers[Language.CSharp]" />
