@inherits ComponentBase

@code {
    [Parameter]
    public required EventTM Event { get; set; }
}

<span class="refdocgen-text-tertiary">
    @string.Join(' ', Event.Modifiers.CSharpData)
</span>

<GenericTypeLink Type="@Event.Type" />

<span class="refdocgen-text-primary">
    @Event.Name
</span>

