@inherits ComponentBase

@code {
    [Parameter]
    public required TypeParameterTM[] TypeParameters { get; set; }
}

@foreach (var tp in TypeParameters)
{
    var specialConstraints = tp.SpecialConstraints.CSharpData;
    var allConstraints = specialConstraints.Concat(
        tp.TypeConstraints.Select(c => c.TypeLink.Name.CSharpData)
    );

    if (allConstraints.Any())
    {
        <h6 class="mx-3" data-id="type-param-constraints">
            <samp>
                <span class="refdocgen-text-tertiary">where</span>
                <span class="refdocgen-text-secondary">@tp.Name</span>
                <span> : </span>
                <span class="refdocgen-text-tertiary">@string.Join(", ", specialConstraints)</span>

                @if (tp.TypeConstraints.Any())
                {
                    var lastItem = tp.TypeConstraints.Last();

                    @if (specialConstraints.Any())
                    {
                        <span class="refdocgen-text-tertiary">, </span>
                    }

                    foreach (var constraint in tp.TypeConstraints)
                    {
                        <GenericTypeLink Type="@constraint" />

                        if (constraint != lastItem)
                        {
                            <text>, </text>
                        }
                    }
                }
            </samp>
        </h6>
    }
}
