@inherits ComponentBase

@code {
    [Parameter]
    public required TypeLinkTM Type { get; set; }
}

<span class="text-secondary">
    @if (Type.Url is not null)
    {
        <a href="@Type.Url" class="refdocgen-link-secondary">
            @Type.Name
        </a>
    }
    else
    {
        @Type.Name
    }
</span>
