@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Assemblies
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required AssemblyTM Model { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    [Parameter]
    public required string[]? Versions { get; set; }

    [Parameter]
    public required LanguageTM[] Languages { get; set; }
}

<CascadingValue Value="TopMenuData">
    <CascadingValue Value="Versions">
        <CascadingValue Value="Languages">
            <LayoutView Layout="typeof(AppLayout)">

                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="display-4 text-break">
                        <samp>
                            <span class="refdocgen-text-tertiary">assembly</span>
                            <span class="refdocgen-text-primary">@((MarkupString)Model.Name.WithWbrAfterDots())</span>
                        </samp>
                    </h1>

                    <CollapseAllButton />
                </div>

                <hr class="my-2" />

                @foreach (var ns in Model.Namespaces)
                {
                    <NamespaceTypeList Namespace="@ns" />
                }
            </LayoutView>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
