@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Assemblies
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required AssemblyTM Model { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    [Parameter]
    public required string[]? Versions { get; set; }

    [Parameter]
    public required LanguageTM[] Languages { get; set; }
}

<CascadingValue Value="TopMenuData">
    <CascadingValue Value="Versions">
        <CascadingValue Value="Languages">
            <LayoutView Layout="typeof(AppLayout)">

                <h1 class="display-4">
                    <samp>
                        <span class="refdocgen-text-tertiary">assembly</span>
                        <span class="refdocgen-text-primary">@Model.Name</span>
                    </samp>
                </h1>
                <hr />

                @foreach (var ns in Model.Namespaces)
                {
                    <NamespaceTypeList Namespace="@ns" />
                }
            </LayoutView>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
