@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required string Contents { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    [Parameter]
    public required string CustomStyles { get; set; }

    [Parameter]
    public required int NestingLevel { get; set; }

    [Parameter]
    public required string[]? Versions { get; set; }

    [Parameter]
    public required LanguageTM[] Languages { get; set; }

    [Parameter]
    public required string ProjectName { get; set; }
}


<CascadingValue Value="TopMenuData">
    <CascadingValue Value="CustomStyles" Name="CustomStyles">
        <CascadingValue Value="NestingLevel">
            <CascadingValue Value="Versions">
                <CascadingValue Value="Languages">
                    <CascadingValue Value="ProjectName" Name="ProjectName">
                        <LayoutView Layout="typeof(AppLayout)">
                            <div class="static-page-content">
                                @((MarkupString)Contents)
                            </div>
                        </LayoutView>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
