@inherits ComponentBase
@using System.Text.Json

@code {
    [Parameter]
    public required string[]? Versions { get; set; }
}

<nav class="navbar fixed-bottom menu-bg">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="dropup">
            @if (Versions is not null)
            {
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @Versions[^1]
                </button>
                <div id="current-version">
                    @Versions[^1]
                </div>
                <div id="version-list">
                    @JsonSerializer.Serialize(Versions)
                </div>
                <ul class="dropdown-menu" id="version-selector" data-id="version-selector">
                </ul>
            }
        </div>

        <div class="text-end">
            <small class="text-muted"><i>Made with <a href="https://github.com/VL-CZ/refdocgen">RefDocGen</a></i></small>
        </div>
    </div>
</nav>
