# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET workflow

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -warnaserror
      - name: Unit tests
        run: dotnet test ./tests/RefDocGen.UnitTests --no-build --verbosity normal
      - name: Integration tests
        run: dotnet test ./tests/RefDocGen.IntegrationTests --no-build --verbosity normal
      - name: Check formatting
        run: dotnet format style --verify-no-changes --exclude tests/RefDocGen.ExampleLibrary tests/RefDocGen.ExampleFSharpLibrary tests/RefDocGen.ExampleVbLibrary # exclude test libraries

      - name: Generate docs
        run: dotnet run -- RefDocGen.csproj --static-pages-dir ./static-pages --verbose
        working-directory: ./src/RefDocGen

      - uses: actions/upload-artifact@v4
        with:
          name: refdocgen-docs
          path: ./src/RefDocGen/reference-docs
  deploy:
    needs: ci
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: refdocgen-docs

      - name: Download build artifact from latest successful build
        uses: actions/download-artifact@v5
        with:
          name: refdocgen-docs
          path: ./reference-docs

      - name: Test XX
        run: ls
        working-directory: ./reference-docs

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./reference-docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
